/* styles.css */
.prefix {
font-size: 25px;
opacity: 0.6}

.fullHeight{width: 100vw; height: 40vw; 
  background: var(--ptf-accent-1); ;}

.circle {
  width: 58px;
  height: 58px;
  background-color: darkgray;
  border-radius: 50%;
  display: flex;
padding: 15px;  
  justify-content: center;
  align-items: center;opacity: 0.8;
}
.phonecontainer{display: flex; 
  width: 100%;
  color: white
}
#callMeCont{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
FaPhone{display: flex; 
  color: white
}
.digicontainer{  overflow: hidden; 
  width: 100vw; position: relative; padding: 0px; }
  .whitetext { position: absolute; color: white;z-index: 99;
    top: 10vw;left: 2.5vw;}
.whitebtn {  z-index: 999;
  position: absolute; top: -5vw;left: 12.5vw; height: 45vw}

.myfoto{
  height: auto;
  width: 35vw;
position: absolute;
top:5vw;
left: 65vw; 

}

.ptf-animated-block {
  display: flex; justify-content: flex-start; align-items: flex-end;
  position: relative}

  